<div id="sidebar">
  <h3>Contact Numbers</h3>

  <p class="get-involved-contact-title"><strong>General Information</strong></p>
  <p>
    <a href="mailto:info@fightforlifeevent.org">info@fightforlifeevent.org</a><br />
    (661) 837-0477
  </p>

  <p class="get-involved-contact-title"><strong>President</strong></p>
  <p>
    Leslie Knox<br />
    <a href="mailto:lknox@fightforlifeevent.org">lknox@fightforlifeevent.org</a><br />
    (661) 837-0477 x217
  </p>

  <p class="get-involved-contact-title"><strong>Event Coordination</strong></p>
  <p>
    Casey Orsburn<br />
    <a href="mailto:corsburn@fightforlifeevent.org">corsburn@fightforlifeevent.org</a><br />
    (661) 837-0477
  </p>
  <p>
    Lauren Knox<br />
    <a href="mailto:lauren.knox@fightforlifeevent.org">lauren.knox@fightforlifeevent.org</a><br />
    (661) 837-0477 x218
  </p>

  <p class="get-involved-contact-title"><strong>Media &amp; Public Relations</strong></p>
  <p>
    Silas Sao<br />
    <a href="mailto:ssao@fightforlifeevent.org">ssao@fightforlifeevent.org</a><br />
    (661) 837-0477 x224
  </p>
    Ronnie Miller<br />
    <a href="mailto:rmiller@fightforlifeevent.org">rmiller@fightforlifeevent.org</a><br />
    (661) 837-0477 x223
  </p>
</div>
