<div class="content">
    <div id="content_text">
    <h2 class="page_title"><%= current_page %></h2>
    <p>
      In addition to the annual Fight For Life Event, we have quite a number of fundraising events planned this year to help raise money for the community. There are multiple ways you can help. Every Fight For Life event we have community partnership packages along with a pre-event gathering where we usually have a live and silent auction with items that have been donated by our various community partners.
    </p>

    <p>
      We are amazed every year by how many people reach out to volunteer their time. Unfortunately, last year we had to turn away some of you because we had enough volunteers at the time. If you'd like to be involved in our cause, please email <a href="mailto:info@fightforlifeevent.org?Subject=Volunteer Inquiry">info@fightforlifeevent.org</a> right away and let us know!
    </p>

    <p>
      Please see the contact list to the right for information on who to contact for your particular inquiry. You can also fill out our <a href="contact">contact form</a>.
    </p>

    <p>
      <strong>And please don't forget! Visit &ndash; and like! &ndash; our <a href="http://www.facebook.com/pages/Fight-For-Life/159190377498326?fref=ts">Facebook page</a> for the most current news with Fight For Life and more!</strong>
    </p>
  </div>

  <%= erb :'partials/_sidebar' %>

</div>
