<div class="content">
    <div id="content_text">
    <h2 class="page_title">Thank You!</h2>
    <p>
      Thank you for sending us your contact information. We will get back to you
      as soon as possible! In the meantime, don't forget to like us on
      <a href="https://www.facebook.com/pages/Fight-For-Life/159190377498326?ref=ts&fref=ts" name="Facebook">Facebook</a>
      where you can also contact us directly!
    </p>
  </div>

  <%= erb :'partials/_sidebar' %>

</div>
